* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}

html,
body {
  min-height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent !important;
}

@media (min-width: 1025px) {
  html,
  body {
    min-height: 100%;
    width: 100vw;
  }
}
/* .body-menu {
  height: ;
} */
body {
  display: grid;
  grid:
    "header" 9vh
    "main" 1fr
    "footer" max-content
    / 100%;
}
@media (orientation: landscape) and (max-width: 933px) {
  body {
    grid:
      "header" 14vh
      "main" 1fr
      "footer" max-content
      / 100%;
  }
}

@media (min-width: 934px) and (max-width: 1024px) {
  body {
    grid:
      "header" 9vh
      "main" 1fr
      "footer" max-content
      / 100%;
  }
}

@media (min-width: 1025px) {
  body {
    overflow-x: hidden;
  }
}
.bhidden {
  overflow: hidden;
}
.header {
  grid-area: header;
  display: grid;
  grid: 100% / 1fr 20% 26.46px;
  /* justify-content: space-between; */
  padding-top: 26px;
  padding-right: 16px;
  padding-left: 16px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

@media (min-width: 934px) and (max-width: 1024px) {
  .header {
    /* grid: 100% / 1fr 30% 40.5px; */

    padding-right: 32px;
    padding-left: 32px;
    padding-top: 4px;
  }
}

@media (min-width: 1025px) {
  .header {
    /* grid: 100% / 1fr 30%; */
    display: flex;
    justify-content: space-between;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 4px;
    align-items: center;
    /* position: fixed; */
    /* top: -15px; */
    grid-area: unset;
    grid: unset;
    /* justify-content: space-between; */
    align-items: center;
    top: 0;
    z-index: 10;
    background-color: #fff;
  }
}

.main {
  grid-area: main;
}

.logo {
  font-family: beloved-script, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  color: rgb(0, 0, 0);
  position: relative;
  left: 9px;
  bottom: 8px;
}
@media (orientation: landscape) and (max-width: 933px) {
  .logo {
    position: relative;
    bottom: 10px;
  }
}
@media (min-width: 934px) and (max-width: 1024px) {
  .logo {
    font-size: 53px;
  }
}

@media (min-width: 1025px) {
  .logo {
    font-size: 53px;
    top: 12px;
  }
}

.burger {
  position: relative;
  bottom: 10px;
}

.nav-links {
  flex-direction: column;
  justify-content: space-between;
  display: none;
  position: absolute;
  top: 9vh;
  left: 0;
  right: 0;
  height: 91vh;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  font-style: normal;
  padding-bottom: 191px;
  padding-top: 20px;
  align-items: center;
  transition: all 0.6s ease-out;
  overflow-y: scroll;

  overscroll-behavior: contain;
}

@media (orientation: landscape) and (max-width: 933px) {
  .nav-links {
    height: 86vh;
    top: 14vh;
    padding-bottom: 62px;
    /* overflow-y: scroll; */
  }
}
@media (min-width: 934px) and (max-width: 1024px) {
  .nav-links {
    height: 91vh;
    top: 9vh;
    padding-bottom: 130px;
    /* overflow-y: scroll; */
  }
}

@media (min-width: 1025px) {
  .nav-links {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    height: unset;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    font-style: normal;
    padding-bottom: unset;
    padding-top: unset;
    align-items: unset;
    transition: unset;
    overflow-y: unset;
    width: 30%;

    overscroll-behavior: unset;
  }

  .nav-links::-webkit-scrollbar {
    display: none;
  }

  .nav-links li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: width 0.3s;
  }

  .nav-links li:hover::after {
    width: 100%;
  }
}
.nav-links li {
  list-style: none;
  opacity: 0;
}

@media (min-width: 1025px) {
  .nav-links li {
    opacity: 1;
  }
}
.nav-active {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: soleil, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 56px;
}

.logo a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

@media (min-width: 1025px) {
  .nav-links a {
    font-size: 26px;
    font-weight: 300;
  }
}

.burger {
  grid-column: 3;
  /* position: relative;
  top: 5px; */
}

@media (min-width: 1025px) {
  .burger {
    display: none;
  }
}

.burger div {
  width: 26.46px;
  height: 1px;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease-out;
}

@media (min-width: 934px) and (max-width: 1024px) {
  .burger div {
    width: 40.5px;
    height: 2px;
  }
}
.line1 {
  margin-bottom: 9px;
}

@media (min-width: 934px) and (max-width: 1024px) {
  .line1 {
    margin-bottom: 15.5px;
  }
}

/* start of style for home page */

.image-con {
  width: 380px;
  margin-top: 71px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  overflow-x: scroll;
  /* overflow-y: hidden; */
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  cursor: grab;
}

@media (orientation: landscape) and (max-width: 933px) {
  .image-con {
    width: 380px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* overflow-x: scroll; */
    overflow: auto;
    scroll-snap-type: x mandatory;
    position: relative;
    scroll-behavior: smooth;
    cursor: grab;
  }
}

@media (min-width: 1025px) {
  .image-con {
    width: 45.1%;
    margin-top: 84px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    cursor: grab;
    pointer-events: none;
  }
}

@media (hover: hover) {
  .image-con {
    pointer-events: none;
  }
}
.image-con::-webkit-scrollbar {
  width: 0px;
}

.image-slides {
  width: 100%;
  height: auto;
  /* display: none; */
  flex-shrink: 0;
  scroll-snap-align: start;
}
.slider-buttons {
  display: none;
}

@media (hover: hover) and (max-width: 432px) {
  .slider-buttons {
    display: block;
    position: absolute;
    height: 20.46px;
    width: 11.94px;
  }
  #left {
    left: 32px;
    top: 120px;
  }
  #right {
    right: 32px;
    top: 120px;
  }
}

@media (hover: hover) and (min-width: 432px) and (max-width: 933px) {
  .slider-buttons {
    display: block;
    position: absolute;
    height: 31.36px;
    width: 18.19px;
  }
  #left {
    left: 4%;
    top: 302.4px;
  }
  #right {
    right: 4%;
    top: 302.4px;
  }
}

@media (hover: hover) and (min-width: 934px) {
  .slider-buttons {
    display: block;
    position: absolute;
    height: 31.36px;
    width: 18.19px;
  }
  #left {
    left: 4%;
    top: 382.4px;
  }
  #right {
    right: 4%;
    top: 382.4px;
  }
}

@media (min-width: 1025px) {
  .slider-buttons {
    display: block;
    position: absolute;
    cursor: pointer;
  }

  #left {
    /* position: absolute; */
    left: 21.4%;
    top: 24.6vw;
  }

  #right {
    right: 21.4%;
    top: 24.6vw;
  }
}

/* @media (hover: hover) {
  .slider-buttons {
    display: block;
    position: absolute;
    cursor: pointer;
  }

  #left {
    left: 21.4%;
    top: 48%;
  }

  #right {
    right: 21.4%;
    top: 48%;
  }
} */

.btn-svg {
  pointer-events: none;
}
.caption {
  width: 380px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  font-family: soleil, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  cursor: pointer;
}

.btn-cont {
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  margin-top: 15px;
}

.buy-btn {
  display: grid;
  width: 70px;
  height: 23px;
  background-color: #000000;
  color: #ffffff;
  font-family: soleil, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  border: none;
  cursor: pointer;
  padding: 0.33em 0.13em;
  place-content: center center;
  left: 0;
}

@media (orientation: landscape) and (max-width: 933px) {
  .btn-cont {
    margin-top: 2px;
  }
}

@media (min-width: 934px) and (max-width: 1024px) {
  .btn-cont {
    width: 77%;
  }
}

@media (min-width: 934px) and (max-width: 1024px) {
  .buy-btn {
    font-size: 22px;
    width: 104px;
    height: 34px;
    /* padding: 0.33em 0.13em; */
  }
}

@media (min-width: 1025px) {
  .btn-cont {
    width: 45.1%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
}

@media (min-width: 1025px) {
  .buy-btn {
    font-size: 22px;
    width: 104px;
    height: 34px;
    /* padding: 0.33em 0.13em; */
  }
}
@media (orientation: landscape) and (max-width: 933px) {
  .caption {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: -13px; */
    display: flex;
    justify-content: space-between;
    font-family: soleil, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
  }
}

@media (min-width: 934px) and (max-width: 1024px) {
  .caption {
    width: 77%;
    font-size: 26px;
  }
}

@media (min-width: 1025px) {
  .caption {
    width: 45.1%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: -13px; */
    display: flex;
    justify-content: space-between;
    font-family: soleil, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    /* margin-bottom: 12.5vh; */
  }
}

.caption-fade {
  animation: title-fade 1.5s ease-in-out;
}

@keyframes title-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bar-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.image-counter {
  translate: -7px;
}

.image-num:hover {
  animation: 2s ease-out num-anim;
}

.footer {
  font-family: soleil, sans-serif;
  font-style: normal;
  background: black;
  color: white;
  margin-top: 111px;
  display: grid;
  grid: max-content max-content max-content / 100%;
  grid-area: footer;
}

@media (orientation: landscape) and (max-width: 933px) {
  .footer {
    margin-top: 56px;
    display: grid;
    grid: max-content max-content max-content / 100%;
  }
}

@media (min-width: 934px) and (max-width: 1024px) {
  .footer {
    display: grid;
    grid-area: footer;
    margin-top: 194px !important;

    grid: max-content max-content max-content / 100%;
  }
}
@media (min-width: 934px) and (max-width: 1024px) {
  .main {
    grid-area: main;
  }

  .image-con {
    width: 77%;
  }
}

@media (min-width: 1025px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    grid: unset;
    margin-top: unset;
    padding-right: 32px;
    padding-left: 32px;
    margin-top: 7vw;
  }
}
.footer a {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-weight: 300;
}

@media (min-width: 934px) and (max-width: 1024px) {
  .footer a {
    font-size: 26px;
  }
}

.menu {
  display: grid;
  justify-items: center;
  width: 92.23%;
  grid-gap: 30px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid white;
  padding-bottom: 33px;
  font-size: 19px;
}
@media (orientation: landscape) and (max-width: 933px) {
  .menu {
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 46px;
    padding-top: 20px;
  }
}

@media (min-width: 934px) and (max-width: 1024px) {
  .menu {
    display: flex;
    justify-content: space-between;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 59px;

    padding-top: 32px;
  }
}

@media (min-width: 1025px) {
  .menu {
    display: none;
  }
}

.menu a:first-child {
  padding-top: 21px;
}
@media (orientation: landscape) and (max-width: 933px) {
  .menu a:first-child {
    padding-top: 0px;
  }
}

@media (min-width: 934px) and (max-width: 1024px) {
  .menu a:first-child {
    padding-top: 0px;
  }
}
.social-icons {
  display: grid;
  grid: max-content/ 1fr 1fr;
  justify-items: end;
  gap: 36px;
  margin-top: 8px;
  margin-bottom: 27px;
}
@media (orientation: landscape) and (max-width: 933px) {
  .social-icons {
    margin-top: 17px;
  }
}

@media (min-width: 934px) and (max-width: 1024px) {
  .social-icons {
    gap: 67.7px;
    margin-bottom: 80px;
    margin-top: 28px;
  }
}
@media (min-width: 1025px) {
  .social-icons {
    margin-top: unset;
    margin-bottom: unset;
    position: relative;
    top: 4px;
  }
}

.facebook-icon {
  width: 18.75px;
  height: 21.72px;
}
@media (min-width: 934px) and (max-width: 1024px) {
  .facebook-icon {
    width: 32.9px;
    height: 38.12px;
  }
}

@media (min-width: 1025px) {
  .facebook-icon {
    width: 32.9px;
    height: 38.12px;
  }
}
.insta-icon {
  width: 20.82px;
  height: 20.81px;
}
@media (min-width: 934px) and (max-width: 1024px) {
  .insta-icon {
    width: 36.81px;
    height: 36.8px;
  }
}

@media (min-width: 1025px) {
  .insta-icon {
    width: 36.81px;
    height: 36.8px;
  }
}
.instagram {
  justify-self: start;
}

.legals {
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  margin-bottom: 17px;
}
@media (min-width: 934px) and (max-width: 1024px) {
  .legals {
    font-size: 19px;
  }
}

@media (min-width: 1025px) {
  .legals {
    font-size: 19px;
    text-align: unset;
    margin-bottom: unset;
  }
}
.toggle .line1 {
  rotate: 135deg;
  translate: 2.88px 5.74px;
}

.toggle .line2 {
  rotate: 45deg;
  translate: 2.88px -4.36px;
}

@media (min-width: 934px) and (max-width: 1024px) {
  .toggle .line2 {
    rotate: 45deg;
    translate: 2.88px -11.36px;
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* start of styles for prints page */

.page-title {
  font-family: soleil, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin-top: 24px;
  padding-left: 16px;
}
#print-prices {
  margin-left: 50px;
}
@media (orientation: landscape) and (max-width: 933px) {
  .page-title {
    font-family: soleil, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin-top: 25px;
    padding-left: 16px;
  }
}

@media (min-width: 934px) and (max-width: 1024px) {
  .page-title {
    font-weight: 700;
    font-style: normal;
    font-size: 82px;
    margin-top: 41px;
    padding-left: 32px;
  }
}

@media (min-width: 1025px) {
  .page-title {
    font-weight: 700;
    font-style: normal;
    font-size: 82px;
    padding-left: 32px;
    margin-top: 15px;
  }
}
.main-text {
  font-family: soleil, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 46px;
  margin-top: 7px;
}

@media (min-width: 934px) and (max-width: 1024px) {
  .main-text {
    padding-left: 32px;
    padding-right: 32px;
    font-size: 56px;
    line-height: 78px;
  }
}

@media (min-width: 1025px) {
  .main-text {
    padding-left: 32px;
    padding-right: 32px;
    font-size: 56px;
    line-height: 78px;
  }
}
.faq {
  border-bottom: 1px solid black;
  cursor: pointer;
  padding-bottom: 15px;

  outline: none !important;
}

.faq a {
  color: black;
}
.faq h3 {
  font-family: soleil, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 29px;
}

.faq svg {
  width: 26px;
  height: 15.16px;
}
@media (min-width: 934px) and (max-width: 1024px) {
  .faq svg {
    width: 40px;
    height: 23.33px;
  }
}

@media (min-width: 1025px) {
  .faq svg {
    width: 40px;
    height: 23.33px;
  }
}

@media (min-width: 934px) and (max-width: 1024px) {
  .faq h3 {
    font-size: 56px;
  }
}

@media (min-width: 1025px) {
  .faq h3 {
    font-size: 56px;
  }
}
.faq-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-container {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 48px;
}

@media (orientation: landscape) and (max-width: 933px) {
  .faq-container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 48px;
  }
}

@media (min-width: 934px) and (max-width: 1024px) {
  .faq-container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 48px;
  }
}

@media (min-width: 1025px) {
  .faq-container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 110px;
  }
}

.faq-text {
  font-family: soleil, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
  line-height: 46px;
  margin-top: 5px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

@media (min-width: 934px) and (max-width: 1024px) {
  .faq-text {
    font-size: 56px;
    line-height: 78px;
    margin-top: 7px;
  }
}

@media (min-width: 1025px) {
  .faq-text {
    font-size: 56px;
    line-height: 78px;
    margin-top: 15px;
  }
}

.faq.active .faq-text {
  max-height: max-content;
  animation: fade 0.7s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.4s ease-in;
}

#returns {
  margin-top: 15px;
}

@media (min-width: 934px) {
  #returns {
    margin-top: 25px;
  }
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* start of styles for about page */
.about-portrait {
  width: 92.23%;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
}

@media (orientation: landscape) and (max-width: 933px) {
  .about-portrait {
    width: 35%;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 7px;
    float: left;
  }
}

@media (min-width: 934px) and (max-width: 1024px) {
  .about-portrait {
    width: 93.33%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
  }
}

@media (min-width: 1025px) {
  .about-portrait {
    width: 48.33%;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
    float: left;
  }
}
.main-text {
  position: relative;
  top: -12px;
}

@media (min-width: 1025px) {
  .main-text {
    top: 6px;
  }
}

.about-portrait__img {
  width: 100%;
  height: auto;
}

.main-text__secondpara {
  margin-top: 30px;
}

/* start of styles for contact page */
.contact-form {
  margin-top: 48px;
  padding-left: 16px;
  padding-right: 16px;
  /* padding-left: 0px; */
  overflow: auto;
}

.contact-form::-webkit-scrollbar {
  display: none;
}

@media (min-width: 934px) and (max-width: 1024px) {
  .contact-form {
    margin-top: 64px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (orientation: landscape) and (max-width: 933px) {
  .contact-form {
    display: grid;
    grid:
      "name email" auto
      "message message" auto
      "button ." 44px
      / 1fr 1fr;
    grid-column-gap: 24px;
  }

  #name1 {
    grid-area: name;
    /* width: 100%; */
  }

  #email1 {
    grid-area: email;
    width: 100%;
  }

  #body1 {
    grid-area: message;
  }

  .contact-form__button {
    grid-area: button;
  }
}

@media (min-width: 1025px) {
  .contact-form {
    margin-top: 54px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.contact-form__input {
  width: 100%;
  padding-bottom: 19px;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 40px;
  padding-top: 0px;
  font-family: soleil, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  outline: none;
}

.contact-form__input::placeholder {
  font-family: soleil, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  color: black;
}

.contact-form__message {
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-bottom: 32px;
  padding-bottom: 15px;
  width: 100%;
  height: 46px;
  outline: none;
  font-family: soleil, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
}

.contact-form__message::placeholder {
  font-family: soleil, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  color: black;
}

@media (min-width: 934px) and (max-width: 1024px) {
  .contact-form__message::placeholder {
    font-family: soleil, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: black;
  }
}

.contact-form__button {
  background: black;
  display: grid;
  place-content: center center;
  width: 97px;
  height: 44px;
  font-family: soleil, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 29px;
  color: white;
  line-height: 29px;
  text-align: center;
  cursor: pointer;
  border: none;
}

@media (min-width: 934px) and (max-width: 1024px) {
  .contact-form__button {
    width: 133px;
    height: 61px;
    font-size: 34px;
  }
}

@media (min-width: 1025px) {
  .contact-form__button {
    width: 133px;
    height: 61px;
    font-size: 34px;
  }
}

.contact-form__button p {
  display: block;
}
.contact-form__circle {
  width: 29px;
  height: 29px;
  border: 5px solid #eaeaea;
  border-top-color: black;
  border-radius: 50%;
  display: none;
  animation: spin 0.75s ease infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#responsetext {
  font-family: soleil, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
  margin-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  color: #3cb937;
  overflow-wrap: anywhere;
}

@media (min-width: 934px) and (max-width: 1024px) {
  #responsetext {
    font-size: 34px;
    margin-top: 28px;
    padding-left: 32px;
  }
}

@media (min-width: 1025px) {
  #responsetext {
    font-size: 34px;
    margin-top: 38px;
    padding-left: 32px;
  }
}
@media (min-width: 934px) and (max-width: 1024px) {
  .contact-form {
    display: grid;
    grid:
      "name email" auto
      "message message" auto
      "button ." 61px
      / 1fr 1fr;
    grid-column-gap: 40px;
  }

  .contact-form__button {
    grid-area: button;
  }

  #body1 {
    grid-area: message;
  }
  .contact-form__input {
    font-size: 26px;
    margin-bottom: 36px;
    padding-bottom: 26px;
  }
  .contact-form__input::placeholder {
    font-size: 26px;
  }

  .body1::-webkit-scrollbar {
    display: none;
  }

  .contact-form__message {
    margin-bottom: 38px;
    padding-bottom: 26px;
    /* margin-top: 20px; */
    overflow: auto;
    padding-top: 0;
    height: 60px;
    font-size: 26px;
  }

  .contact-form__message::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 1025px) {
  .contact-form {
    display: grid;
    grid:
      "name email" auto
      "message message" auto
      "button ." 61px
      / 1fr 1fr;
    grid-column-gap: 40px;
  }

  .contact-form__button {
    grid-area: button;
  }

  #body1 {
    grid-area: message;
  }
  .contact-form__input {
    font-size: 26px;
    margin-bottom: 36px;
    padding-bottom: 26px;
  }
  .contact-form__input::placeholder {
    font-size: 26px;
  }

  .body1::-webkit-scrollbar {
    display: none;
  }

  .contact-form__message {
    margin-bottom: 38px;
    padding-bottom: 26px;
    /* margin-top: 20px; */
    overflow: auto;
    padding-top: 0;
    height: 60px;
    font-size: 26px;
  }

  .contact-form__message::placeholder {
    font-size: 26px;
  }

  .contact-form__message::-webkit-scrollbar {
    display: none;
  }
}
/* start of styles for legal pages */

.legal-subhead {
  font-family: soleil, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 34px;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 934px) and (max-width: 1024px) {
  .legal-subhead {
    font-size: 63px;
  }
}

@media (min-width: 1025px) {
  .legal-subhead {
    font-size: 76px;
  }
}
